INFLUXDB_ADMIN_PASSWORD=
INFLUXDB_ADMIN_TOKEN=
GF_SECURITY_ADMIN_PASSWORD=
MONGO_INITDB_ROOT_PASSWORD=
LOG_LEVEL=INFO
TEMP_DIR=./_temp
DO_INITIAL_UPDATE=
PUBLIC_DOMAIN=
API_DOMAIN=https://api.${PUBLIC_DOMAIN}
PLOTS_DOMAIN=https://plots.${PUBLIC_DOMAIN}